:root {

    --tile-size: 48px;
    --game-size: calc(var(--tile-size) * 20); 
    --helmet-offset: 12px;

}

// Tag: Game Components

$tile-size: 48px;
$game-size: $tile-size * 20;

$helmet-offset: 12px;


// Tag: Colors 

$color-dark: #282c34;
$color-white: #ffffff;

$color-border-white: 2px solid white;